button {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50px;
    border: none;
    background: lightgray;
}

button:hover {
    color: white;
    background: rgb(148, 148, 148);
}

.images {
    flex-flow: row;
    height: 400px;
    width: 500px;
}

img {
    position: inherit;
    height: 100%;
    width: 100%;
}

.slide {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: flex;
    height: 400px;
    width: 600px;
}