body {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

#status {
    margin: 30px;
    border-radius: 100px;
    background: red;
    top: 0;
    right: 0;
    width: auto;
    position: fixed;
    text-align: center;
    padding: 15px;
}

img {
    margin: 15px;
}

